*{
	font-family: 'Shadows Into Light Two', cursive;
	margin: 0;
	padding: 0;
}

body{
	background-repeat: no-repeat;
	background-image: url("misc/blank-page.gif");
	margin: 0;
	padding: 0;

}

button{
	font-size: 20px;
	margin: 5px;
	border-radius: 8px;
	background-color: black;
	color: white;
	padding: 4px 16px 4px 16px;
}

td{
	font-size: 18px;
}

header{
	display:none;
}

.main{
	margin-top: 8em;
	margin-left: 4em;
	width: 65%;
}

.text-input{
	display: block;
	width: 427px;
	height: 94px;

}

.input-button{
	font-size: 24px;
	margin: 8px;
}

.show-toc-button{
	float: left;
	clear: left;
}

.text-input-area{
	display: none;
}

.option{
	float: left;
}

.option1-page{
	clear: left;
}

.option2-page{
}

.append-to{
	width: 720px;
	float: left;
  	clear: left;
}

#toc-item-id{
	text-align: center;
}

.button-options{
	margin: 30px;
}

.no-style-link{
	text-decoration: none;
	color:	white;
}

.edit-item{
	display: block;
	width: 30em;
	font-size: 18px;
	margin-bottom: 10px;
}

button:hover{
	cursor: pointer;
}